@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
